/* login-dialog.component.css */
::ng-deep .mat-dialog-container {
    padding: 0;
    overflow-y: hidden;
    max-height: none;
    background: #fff !important;
    box-shadow: none !important;
    border-radius: 0.75rem !important;
}

@media (prefers-color-scheme: dark) {
  ::ng-deep .mat-dialog-container {
    background: #1f2937 !important;
    /* dark:bg-gray-800 */
    color: #fff !important;
  }
}


.login-dialog-content {
    padding: 1rem;
}

::ng-deep .cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
